/*body::-webkit-scrollbar { display:none; }  disable scroll bar*/

body {
	background-color: red;
    font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	
}

#correct {
	background-size:cover;
	background-color: white;
	display:none;
}

#Scene {
	width:100%;
	height:700px;
	margin-top:-350px;
	top:50%;
	position:fixed;
}

.parallax-layer {
	height:700px;
	background-repeat:no-repeat;
	position:absolute;
}

#bg {
	background:url('../images/background.png');
	width:3530px;
    height: 1658px;
}

#mg {
	background:url('../images/middleground.png') left bottom;
    height: 2245px;
	width:9317px; 
    background-repeat: no-repeat;
}

#fg{
   	background:url('../images/foreground.png');
    height:663px;
	width:7386px; 
    background-repeat: no-repeat; 
}


.h2 {
	color: white;
	text-align: center;
}

#character {
    width:186px;
	height:376px;
	top:320px;
	left:400px;
	background-image:url('../images/character.png');
	position:absolute;
}

#manager {
    width:186px;
	height:370px;
	top:320px;
	left:700px;
	background-image:url('../images/manager.png');
	position:absolute;
}

#chef {
    width:114px;
	height:400px;
	top:280px;
    left:1000px;
	background-image:url('../images/chef.png');
	position:absolute;
}

#angry_customer{
    width:186px;
	height:376px;
	top:320px;
	left:300px;
	background-image:url('../images/angry_customer.png');
	position:absolute;
}
#customer1{
    width:163px;
	height:347px;
	top:320px;
	background-image:url('../images/customer1');
	position:absolute;
}
#customer2{
    width:198px;
	height:332px;
	top:320px;
	background-image:url('../images/customer2');
	position:absolute;
}
#customer3{
    width:193px;
	height:358px;
	top:320px;
	background-image:url('../images/customer3');
	position:absolute;
}


#start {
    width:700px;
	height:132px;
	top:100px;
    left:0px;
	background-image:url('../images/start.png');
	position:absolute;
}
/*update*/
#start1 {
    width:300px;
	height:282px;
	top:100px;
    left:0px;
	background-image:url('../images/start1.png');
	position:absolute;
}

#start2 {
    width:500px;
	height:322px;
	top:100px;
    left:750px;
	background-image:url('../images/start2.png');
	background-repeat: no-repeat;
	position:absolute;
}

#progress-bar {
    width:1000px;
	height:83px;
	top:0px;
	background-image:url('../images/progress-bar.png');
	position:absolute;
}
#progress-bar-head {
    width:100px;
	height:74px;
	top:7px;
	background-image:url('../images/progress-bar-head.png');
	position:absolute;
}
.progress-bar-b0 {
	top: 1px;
	position: absolute;
}
.progress-bar-b0:hover::before{
    content: 'Define Primary and Foreign Key';
    width: 250px;
    position:absolute;
    top:-20px;
    left:-70px;
	font-weight: bold;
	color: rgb(143, 116, 173);

}
.progress-bar-b1 {
	top: 1px;
	position: absolute;
}
.progress-bar-b1:hover::before{
    content: 'Learn SQL Join Clause';
    position: absolute;
    width: 250px;
	font-weight: bold;
	color: rgb(143, 116, 173);
    top:-20px;
    left:-50px;

}

.progress-bar-b2 {
	top: 1px;
	position: absolute;
}
.progress-bar-b2:hover::before{
    content: 'Learn SQL Aggregate Function';
    position: absolute;
    width: 250px;
    top:-20px;
    left:-70px;
	font-weight: bold;
	color: rgb(143, 116, 173);

}
.progress-bar-b3 {
	top: 1px;
	position: absolute;
}
.progress-bar-b3:hover::before{
    content: 'Learn SQL Group By Statement';
    position: absolute;
    width: 250px;
    top:-20px;
    left:-70px;
	font-weight: bold;
	color: rgb(143, 116, 173);

}
.progress-bar-b4 {
	top: 1px;
	position: absolute;
}
.progress-bar-b4:hover::before{
    content: 'Learn Learn SQL Sub-Query';
    position: absolute;
    width: 250px;
    top:-20px;
    left:-70px;
	font-weight: bold;
	color: rgb(143, 116, 173);

}


/* ----- Speech Bubble Styles ----- */
#speech { 
    top: 280px;
	height: 300px;
    margin-top: -100px;
    margin-left: 600px;
	position: absolute;
}

.bubble-c0 {
	top: -1%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c0-2 {
	margin-left:0.5%;
	top: 5%;
	width: 450px;
	height: 80px;
	position: absolute;
}

#bubble-c0-4 {
	margin-left:7%;
	top: 8%;
	width: 450px;
	height: 80px;
	position: absolute;
}

#bubble-c1-1 {
	margin-left:7%;
	top: 10%;
	width: 370px;
	height: 80px;
	position: absolute;
}

#bubble-c1-2 {
	margin-left:8%;
	top: 10%;
	width: 380px;
	height: 80px;
	position: absolute;
}

#bubble-c1-7 {
	top: -195%; /*update */
	left: 20%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-level1-right.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c1-8 {
	top: -261%; /*update */
	left: 20%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-level1-right.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c1-7 p, #bubble-c1-8 p {
	margin-left:5%;
	top: 7%;
	width: 400px;
	height: 80px;
	position: absolute;
}
	
	
	
.bubble-c1 {
	top: -128%; /*update */
	left: 25%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-level1-right.png);
	position: relative;
	background-repeat:no-repeat;
}

.bubble-c1-8 {
	top: -328%; /*update */
	left: 20%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-level1-right.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c1-9 {
	top: -395%; /*update */
	left: 20%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-level1-right.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c2-1 {
	top: -465%; /*update */
	right: 40%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-small-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c2-2 {
	top: -530%; /*update */
	right: 40%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-small-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c2-3 {
	top: -600%; /*update */
	right: 40%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-small-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c2-4 {
	top: -665%; /*update */
	right: 40%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-small-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c2-5 {
	top: -735%; /*update */
	right: 40%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-small-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c2-1 p, #bubble-c2-2 p, #bubble-c2-3 p, #bubble-c2-4 p, #bubble-c2-5 p {
	margin-left:7%;
	top: 5%;
	width: 370px;
	height: 80px;
	position: absolute;
}


#bubble-c0-5 {
    width:500px;
    height:200px;
    background-image: url(../images/bubble-small-right.png);
	position: relative;
	background-repeat:no-repeat;
    top: -60%;
    left: -30%;
}

#bubble-c0-5 p{
    margin-left:10%;
	top: 7%;
	width: 450px;
	height: 80px;
	position: absolute;
}

.bubble-c0 p, #bubble-c0 p{
	padding-left:23px;
	top: 7%;
	width: 450px;
	height: 80px;
	position: absolute;
}

.bubble-c1 p {
	margin-left:8%;
	top: 5%;
	width: 370px;
	height: 80px;
	position: absolute;
}

#bubble-c1-3, .bubble-c1-4, #bubble-c1-5{
	margin-left:7%;
	top: 6%;
	width: 370px;
	height: 80px;
	position: absolute;
}

#bubble-c1-6 {
	margin-left:7%;
	top: 12%;
	width: 370px;
	height: 80px;
	position: absolute;
}
		
.bubble-c2 { 
	top: 17%;
	left: 25%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-small-left.png);
	position: fixed;
	background-repeat:no-repeat;
}

.bubble-c2 p {
	margin-left:5%;
	top: 4%;
	width: 370px;
	height: 80px;
	position: absolute;
}
	
	
#bubble-c0 {
	top: 180px;
	left: 650px;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-small.png);
	position: relative;
	background-repeat:no-repeat;
}
	
#bubble-c3-dave-1 {
	top: -870%;
	left:35%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-small-right.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c3-dave-1 p {
	margin-left:7%;
	top: 15%;
	width: 400px;
	height: 80px;
	position: absolute;
}

#bubble-c3-dave-2 {
	top: -995%;
	right: 18%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
	
}

#bubble-c3-dave-2 p, #bubble-c3-dave-3 p, #bubble-c3-dave-4 p, #bubble-c3-dave-5 p, #bubble-c3-dave-6 p {
	margin-left:7%;
	top:10%;
	width: 450px;
	height: 80px;
	position: absolute;
}

#bubble-c3-dave-3 {
	top: -1060%;
	right: 18%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c3-dave-4 {
	top: -1130%;
	right: 18%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c3-dave-5 {
	top: -1195%;
	right: 18%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c3-dave-6 {
	top: -1340%;
	right: 18%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}

.bubble-c3-1 {
	top: 26%;
	left: 40%;
	width: 500px;
	height: 200px;
	background-image:url(../images/bubble-small-left.png);
	position: relative;
	background-repeat:no-repeat;
}

.bubble-c3-1 p {
	padding-left:35px;
	top:28%;
	width: 380px;
	height: 80px;
	position: absolute;
}
	
#bubble-c3-amy-1 {
	top: -800%;
	right: 55%;
	width: 500px;
	height: 190px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c3-amy-1 p, #bubble-c3-amy-2 p, #bubble-c3-amy-3 p, #bubble-c3-amy-4 p {
	margin-left:7%;
	top: 10%;
	width: 450px;
	height: 80px;
	position: absolute;
}	

#bubble-c3-amy-2 {
	top: -935%;
	right: 55%;
	width: 500px;
	height: 190px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c3-amy-3 {
	top: -1265%;
	right: 55%;
	width: 500px;
	height: 190px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c3-amy-4 {
	top: -1060%;
	right: 55%;
	width: 500px;
	height: 190px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}
 
#bubble-c4-1 {
	top: -1460%;
	left: -65%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
	
}

 #bubble-c4-2 {
	top: -1525%;
	left: -65%;
	width: 500px;
	height: 200px;
	background-image: url(../images/bubble-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c4-3 {
	top: -1595%;
	left: -65%;
	width: 500px;
	height: 200px;
	background-image:url(../images/bubble-c4-left.png);
	position: relative;
	background-repeat:no-repeat;
}

#bubble-c4-4 {
	top: -1660%;
	left: -65%;
	width: 500px;
	height: 200px;
	background-image:url(../images/bubble-c4-left.png);
	position: relative;
	background-repeat:no-repeat;
}

	

#bubble-c4-1 p, #bubble-c4-2 p, #bubble-c4-3 p, #bubble-c4-4 p {
	margin-left:7%;
	top: 10%;
	width: 450px;
	height: 80px;
	position: absolute;
}

/* ----- Side Bar Styles ----- */
.blackBackground{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: black;
   z-index: 50; 
   display: none;
}
.sideBar-button{
    background-image:url('../images/sideBar.png');
    left:10px;
    width:100px;
    height: 100px;
    top: 10px;
    position: absolute;
}
.sideBar-window{
 	width: 300px;
	height: 100%;
	position: absolute;
	background-color:#E3CECE;
	background-repeat:no-repeat;
	background-size: cover;
	top:0;
	left:0;
	display:none;
    z-index: 10;  
	box-shadow: 5px 5px 5px #9C9898; 
	border-radius: 5px;
}
.sideBar-content{
    width:520px;
	height:400px;
    left: 10px;
	border-radius: 3px;
	top: 10%;
	position: absolute;
}

.sideBar-content strong:hover {
	color: white;
	cursor: pointer;
}

#sideBar-close {
	width:20px;
    height:20px;
	padding:5px;
    top:-60px;
    left:250px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:2000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
	display:inline-block;
    position:absolute;
}



/* ----- Video Buttons ----- */

.play-button {
	top: 250px;
	margin-left:320px;
	position: absolute;
}

.play1-button {
	top: 158px;
	margin-left:600px;
	position: absolute;
}
	
.play2-button {
	top: 155px;
	margin-left:835px;
	position: absolute;
}

.play3-button {
	top: 120px;
	margin-left:800px;
	position: absolute;
}

.play4-button {
	top: 100px;
	margin-left:500px;
	position: absolute;
}

/* ----- Arrow Buttons ----- */
.arrowv0-button {
	top: 180px;
	margin-left: 325px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}	

.arrowc0-button {
	top: 180px;
	margin-left:408px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}	

.arrowc1v-button {
	top: 90px;
	margin-left: 605px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc2v-button {
	top:90px;
	margin-left: 840px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc3v-button {
	top:60px;
	margin-left: 805px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}


.arrowc1q1-button {
	top: 90px;
	margin-left: 665px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc1q2-button {
	top: 90px;
	margin-left: 725px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc1q3-button {
	top: 90px;
	margin-left: 785px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc2q1-button {
	top: 90px;
	margin-left: 905px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc2q2-button {
	top: 90px;
	margin-left: 965px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc2q3-button {
	top: 90px;
	margin-left: 1030px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc3q1-button {
	top: 60px;
	margin-left: 865px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc3q2-button {
	top: 60px;
	margin-left: 915px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc3q3-button {
	top: 60px;
	margin-left: 965px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc4q1-button {
	top: 40px;
	margin-left: 505px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc4q2-button {
	top: 40px;
	margin-left: 565px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}

.arrowc4q3-button {
	top: 40px;
	margin-left: 625px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}



@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

/* ----- Activity Buttons ----- */
.activity-button {
	top: 250px;
	margin-left:400px;
	position: absolute;
}

.activityc1q1-button {
	top: 155px;
	margin-left:660px;
	position: absolute;
}

.activityc1q2-button {
	top: 155px;
	margin-left:720px;
	position: absolute;
}

.activityc1q3-button {
	top: 155px;
	margin-left:780px;
	position: absolute;
}

.activityc2q1-button {
	top: 155px;
	margin-left:900px;
	position: absolute;
}


.activityc2q2-button {
	top: 155px;
	margin-left:960px;
	position: absolute;
}

.activityc2q3-button {
	top: 155px;
	margin-left:1020px;
	position: absolute;
}

.activityc3q1-button {
	top: 120px;
	margin-left:860px;
	position: absolute;
}

.activityc3q2-button {
	top: 120px;
	margin-left:910px;
	position: absolute;
}

.activityc3q3-button {
	top: 120px;
	margin-left:960px;
	position: absolute;
}

.activityc4q1-button {
	top: 100px;
	margin-left:500px;
	position: absolute;
}

.activityc4q2-button {
	top: 100px;
	margin-left:560px;
	position: absolute;
}

.activityc4q3-button {
	top: 100px;
	margin-left:620px;
	position: absolute;
}
	

/* ----- Video Popup ----- */
.c0-video-window {
	width: 100%;
	height: 100%;
	position: fixed;
	background:url(../images/closeup0.png);
	background-repeat:no-repeat;
	background-size: cover;
	top:0;
	left:0;
	display:none;
    z-index: 10;
}

.c0-video-content {
	width:520px;
	height:400px;
	border-radius: 3px;
	left: 3%;
	top: 10%;
	padding: 0 50px 50px;
	position: absolute;
}


.c1-video-window, .c2-video-window, .c3-video-window, .c4-video-window {
	width: 100%;
	height: 100%;
	position: fixed;
	background:url(../images/closeup-03.png);
	background-repeat: no-repeat;
	background-size: cover;
	top:0;
	left:0;
	display:none;
    z-index: 10;
}

.c1-video-content, .c2-video-content, .c3-video-content, .c4-video-content {
	width:100%;
	height:100%;
	left: 12%;
	border-radius: 3px;
	top: 13%; /*update */
	padding: 0 50px 50px;
	position: absolute;
}

#c0-close-video {
	padding:10px;
	right: 20px;
	bottom: -100px;
	border-radius: 4px;
	text-decoration:none;
	background: #12CAB8;
	color: white;
	position: absolute;
	cursor: pointer;
	width: 70px;
	height: 40px;
    background-color: #EF4857;
    border: none;
	text-align:center;
	
}

#c1-close-video {
	width:20px;
    height:20px;
	padding:5px;
    top:1%;
    right: 28%;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:2000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
	display:inline-block;
    position:absolute;
}

#c1-close-video:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

#c2-close-video {
	width:20px;
    height:20px;
	padding:5px;
    top:20px;
    left:970px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:2000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
	display:inline-block;
    position:absolute;
}

#c2-close-video:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

#c3-close-video {
	width:20px;
    height:20px;
	padding:5px;
    top:20px;
    left:970px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:2000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
	display:inline-block;
    position:absolute;
}

#c3-close-video:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

#c4-close-video {
	width:20px;
    height:20px;
	padding:5px;
    top:20px;
    left:970px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:2000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
	display:inline-block;
    position:absolute;
}

#c4-close-video:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
.play4-button {
	top: 100px;
	margin-left:440px;
	position: absolute;
}
.arrowc4v-button {
	top: 40px;
	margin-left: 445px;
	position: absolute;
    -webkit-animation: bounce 2s infinite ease-in-out;
}



	


/* ----- Popup Styles ----- */
#popUp {
	font-family: "Helvetica";
	background:url(../images/closeup-02.png);
	background-repeat: no-repeat;
    position: absolute;
}

/* ----- Activity Popup ----- */

/* ----- Chapter 0 -----*/
.c0-activity-window {
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 10;
	background:url(../images/level0.png);
    background-repeat: no-repeat;
	background-size: cover;
	display:none;
	position: fixed; /*update from 'fixed' to 'relative'*/
}

.c0-activity-content {
	top: 5%;
	left:16%;
	position: relative; /*update from 'absolute' to 'relative'*/
}

#c0-close-activity {
	width: 80px;
	height: 40px;
	color: white;
    background-color: #EF4857;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	left: 27%;
	top:90%;
	position:absolute;
	text-align:center;
}

#result {
	position: absolute;
	top: 90.5%;
	left: 6%;
	font-style: italic;
	font-weight: bold;
	color: red;
}

#C1Q1Result, #C1Q2Result, #C1Q3Result, #C2Q1Result, #C2Q2Result, #C2Q3Result, #C3Q1Result, #C3Q2Result, #C3Q3Result, #C4Q1Result, #C4Q2Result, #C4Q3Result {
	padding-top: 20px;
	color: red;
	font-style:italic;
	font-weight:bold;
}

/* ----- Chapter 1 -----*/
.c1-activityc1q1-window, .c1-activityc1q2-window, .c1-activityc1q3-window {
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 10;
	background:url(../images/level-1.png);
    background-repeat: no-repeat;
	background-size: cover;
	display:none;
	position: fixed;
}

.c1-activityc1q1-content, .c1-activityc1q2-content, .c1-activityc1q3-content, .c2-activityc2q1-content, .c2-activityc2q2-content, .c2-activityc2q3-content {
	position: relative;
	width: 80%;
	height:80%;
	left: 12%;
	top: 10%;
}

#C1Q1, #C1Q2, #C1Q3 {
	width:100%;
	height:80%;
	left: 10%;
	top: 11%;
	color: black;
	position: absolute;
}

#C2Q1, #C2Q2, #C2Q3, #C3Q1, #C3Q2, #C3Q3 {
	width:100%;
	height:80%;
	left: 10%;
	top: 20%;
	color: black;
	position: absolute;
}

#C4Q1, #C4Q2 {
	width:100%;
	height:100%;
	left: 10%;
	top: 8%;
	color: black;
	position: absolute;
	line-height: 1pt;
}

#C4Q3 {
	width:100%;
	height:80%;
	left: 30%;
	top: 10%;
	color: black;
	position: absolute;
	line-height: 1pt;
	overflow: scroll;
}
	
#C4Q1 h2,#C4Q2 h2 {
	padding-bottom: 7px;
}
	
/* ----- Chapter 2 -----*/
.c2-activityc2q1-window, .c2-activityc2q2-window, .c2-activityc2q3-window {
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 10;
	background:url(../images/level-2-3.png);
    background-repeat: no-repeat;
	background-size: cover;
	display:none;
	position: fixed;
}

/* ----- Chapter 3 -----*/
.c3-activityc3q1-window, .c3-activityc3q2-window, .c3-activityc3q3-window {
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 10;
	background:url(../images/level-2-3.png);
    background-repeat: no-repeat;
	background-size: cover;
	display:none;
	position: fixed;
}

.c3-activityc3q1-content, .c3-activityc3q2-content, .c3-activityc3q3-content {
	position: relative;
	width: 80%;
	height:80%;
	left: 13%;
	top: 10%;
}

/* ----- Chapter 4 -----*/
.c4-activityc4q1-window, .c4-activityc4q2-window, .c4-activityc4q3-window {
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 10;
	background:url(../images/level-4.png);
    background-repeat: no-repeat;
	background-size: cover;
	display:none;
	position: fixed;
	
}

.c4-activityc4q1-content, .c4-activityc4q2-content {
	position: relative;
	width: 80%;
	height:80%;
	left: 15%;
	top: 10%;
}

.c4-activityc4q3-content {
	position: relative;
	width: 38%;
	height: 63%;
	left: 10%;
	top: 10%;
	
}
 
/* --- Close Activity Windows --- */
#c1q1-x-activity, #c1q2-x-activity, #c1q3-x-activity, #c2q1-x-activity, #c2q2-x-activity, #c2q3-x-activity, #c3q1-x-activity, #c3q2-x-activity, #c3q3-x-activity {
	width: 55px;
	color: white;
    background-color: #EF4857;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	left: 40%;
	top: 70%;
	position:absolute;
	text-align:center;
	padding:10px;
}

#c4q1-x-activity {
	width: 45px;
	color: white;
    background-color: #EF4857;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	left: 40%;
	top: 50%;
	position:absolute;
	text-align:center;
	padding:18px;
}

#c4q2-x-activity {
	width: 45px;
	color: white;
    background-color: #EF4857;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	left: 42%;
	top: 55%;
	position:absolute;
	text-align:center;
	padding:18px;
}
	
#c4q3-x-activity {
	width: 55px;
	color: white;
    background-color: #EF4857;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	right: 10%;
	top: 125%;
	position:absolute;
	text-align:center;
	padding:18px;	
}

#Q1, #Q3 {
	top:50px;
    width:720px;
    left: 150px;
    color: white;
	position:absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* make sure they line up in one single line*/
li {
    list-style-type: none;
    float: left;
	padding: 10px 16px;
}

.selectStyle select {
    -webket-appearance:none;
	-moz-appearance: none;
	border: 0 !important;
	background-color: #23A2BD;
	color: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
	cursor: pointer;
}

.selectStyle {
	width: 400px;
    height: 30px;
    overflow: hidden;
    background: right;
}

/* ----- Chapter 1: Question 2 ----- */
#Q2 {
    width: 500px;
    position:absolute;
    left: 150px;
    top:50px;
    color: white;
    line-height: 20px;
}


input[type=submit] {
    width: 80px;
	height: 40px;
	color: white;
    background-color:#5EE598;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	left: 30%;
	top: 70%;
	position:absolute;
}

#submitc2 {
	width: 80px;
	height: 40px;
	color: white;
    background-color: #12CAB8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	left: 28%;
	top: 60%;
	position:absolute;
}
	
input {
	width: 300px;
	height: 20px;

}

#c0-close-video:hover, #c0-close-activity:hover, #c1q1-x-activity:hover, #c1q2-x-activity:hover, #c1q3-x-activity:hover, #c2q1-x-activity:hover, #c2q2-x-activity:hover, #c2q3-x-activity:hover,  #c3q1-x-activity:hover, #c3q2-x-activity:hover, #c3q3-x-activity:hover, #c4q1-x-activity:hover, #c4q2-x-activity:hover, #c4q3-x-activity:hover{
    background-color:#CD2931;
}

input[type=submit]:hover, #submitc2q1:hover {
	background-color:#A6E3A6;
}

#submit0 {
	position: absolute;
	left: 20%;
	top: 90%;
	width: 80px;
	padding: 10px;
	
}

#submitc4q1 {
	position: absolute;
	top: 50%;
	left: 30%;
	width: 80px;
	height: 40px;
}
	

#submitc4q2 {
	position: absolute;
	top: 55%;
	left: 33%;
	width: 80px;
	height: 40px;
}

#submitc4q3 {		
	position: absolute;		
	top:125%;		
	left: 48%;	
	width: 80px;
	height: 40px;	
}
	

input[type=checkbox] {
	width: 20px;
	line-height:1pt;
	
}

.c2-help-tip, .c3-help-tip {
	position: absolute;
	top: 21%;
	right: 26%;
	background-image:url(../images/hint-button.png);
	width: 40px;
	height: 36px;
	cursor: default;
}

.c4-help-tip{
	position: absolute;
	top: 7.5%;
	right: 28%;
	background-image:url(../images/hint-button.png);
	width: 40px;
	height: 36px;
	cursor: default;
}

#c4q3-help-tip {
	position: absolute;
	top: 16%;
	right: 28%;
	background-image:url(../images/hint-button.png);
	width: 40px;
	height: 36px;
	cursor: default;
}
	
	
.help-tip{
	position: absolute;
	top: 14%;
	right: 26%;
	background-image:url(../images/hint-button.png);
	width: 40px;
	height: 36px;
	cursor: default;
}

.help-tip:hover p, .c2-help-tip:hover p, .c3-help-tip:hover p, .c4-help-tip:hover p, #c4q3-help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.help-tip p, .c2-help-tip p, .c3-help-tip p, .c4-help-tip p, #c4q3-help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 10px;
	width: 280px;
	left: 83%;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}
