<html>
<head>
   
</head>
<body>
    <img src="pic.jpg">
    <h1> Welcome
       
    </h1>
    <html>
<body>
    <form action="/regidev" method="POST">
        <table>
    <tr>
        <td>First Name:</td>
       <td> <input type="text" name="fname" /></td>
     </tr> 
     <tr>
        <td>Last Name:</td>
       <td> <input type="text" name="lname" /></td>
     </tr> 

  
     <tr>
        <td>  Level:</td>
        <td>
        <select name="level">
            <option value="BEGINNER" >BEGINNER</option>
            <option value="EXPERT" >EXPERT</option>
            
          </select></td>
          
       </tr>
       <td>  STATE:</td>
      <td>  <input type="text" name="state" /></td>
     </tr>
     <td>  Suburb:</td>
      <td>  <input type="text" name="suburb" /></td>
     </tr><td>  Street:</td>
     <td>  <input type="text" name="street" /></td>
    </tr>
    <td>  Unit:</td>
      <td>  <input type="text" name="unit" /></td>
     </tr>
    </table>
        <button>Submit</button>
    </form>
</br>

</html>