<html>
<head>
   
</head>
<body>
    <img src="pic.jpg">
    <h1> Welcome
       
    </h1>
    <html>
<body>
    <form action="/regi" method="POST">
        <table>
    <tr>
        <td>Task Name:</td>
       <td> <input type="text" name="name" /></td>
     </tr> 
     <tr>
        <td>Assign To:</td>
       <td> <input type="text" name="dev" /></td>
     </tr>
     <tr>
       <td> Due date:</td>
       <td> <input type="date" name="date" /> </td>
    </tr>
        <tr>
      <td>  Descrip:</td>
      <td>  <input type="text" name="Descrip" /></td>
     </tr>
     <tr>
        <td>  Status:</td>
        <td>
        <select name="status">
            <option value="completed" >Completed</option>
            <option value="inProcess" >InPrcess</option>
            
          </select></td>
          
       </tr>
    </table>
        <button>Submit</button>
    </form>
</br>

</body>
</html>
</body>
</html>